.recoveredpass1-container {
    display: flex;
    max-width: 700px;
    margin: auto;
    border: 1px solid #ccc;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .recoveredpass1-image-section {
    flex: 1;
  }
  
  .recoveredpass1-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-right: 1px solid #ccc;
  }
  
  .recoveredpass1-form-section {
    flex: 1;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .recoveredpass1-title {
    font-size: 20px;
    font-weight: bold;
    color: #111;
    margin-bottom: 25px;
  }
  
  .recoveredpass1-label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .recoveredpass1-label span {
    color: red;
    margin-left: 5px;
  }
  
  .recoveredpass1-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #eee;
  }
  
  .recoveredpass1-button {
    width: 100%;
    padding: 12px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
  }
  